<div class="btn-group align-items-center" role="group">
    {% if pagination.current_page > 1 %}
        <a class="btn btn-secondary" href="{{ url_for('user_pages.list_users', page=pagination.current_page-1) }}">Previous</a>
    {% endif %}

    <span class="ps-2 pe-2 text-center">Page {{ pagination.current_page }} of {{ pagination.total_pages if pagination.total_pages > 0 else 1 }}</span>

    {% if pagination.current_page < pagination.total_pages %}
        <a class="btn btn-secondary" href="{{ url_for('user_pages.list_users', page=pagination.current_page+1) }}">Next</a>
    {% endif %}
</div>
