{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}User Registry Overview{% endblock %}</h1>
    <p>Amount of entries - <span data-field-id="total-users-amount">{{total_users}}</span></p>
{% endblock %}

{% block content %}
    <div class="mb-5 col-12 col-md-4 border rounded p-3 mx-auto">
        {% include "components/load_api_form.html" %}
     </div>

    <table class="table align-middle">
        <thead>
            <th scope="col">Id</th>
            <th scope="col">Gender</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Phone number</th>
            <th scope="col">Email</th>
            <th scope="col">Located at</th>
            <th scope="col">Photo</th>
            <th scope="col"></th>
        </thead>
        <tbody>
            {% for user in users %}
                {% include "components/user_table_row.html" %}
            {% endfor %}
        </tbody>
    </table>

    {% include "components/pagination.html" %}

{% endblock %}
