{% extends 'base.html' %}

{% block header %}
    <h1>Details of user#<span data-field-id="user-id">{{ user.id }}</span></h1>
{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow mb-4">

                <div class="card-body">
                    {% include "components/user_name_card.html" %}

                    {% include "components/contacts_card.html" %}
                    {% include "components/address_card.html" %}
                    {% include "components/dates_card.html" %}
                    {% include "components/login_info_card.html" %}

                    {% if user.id_info %}
                        {% include "components/documents_card.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
